.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.App {
  width: 340px;
  height: 350px;
  text-align: center;
  padding: 10px;
  background-color: mistyrose;
  box-shadow: 10px 10px 10px;
  border-radius: 30px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
}

.App > button {
  align-self: center;
  width: 80px;
  height: 30px;
  background-color: rgba(185, 191, 248, 0.685);
  border-radius: 10px;
  border: none;
  outline: none;
}
